@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
  --main-color: #E74C3C;
  --white: #ffffff;
}

body {
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: var(--main-color);
}

#quote-box {
  width: 450px;
  height: auto;
  padding: 40px 50px;
  margin: auto;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.quote-icon {
  position: relative;
  top: 6px;
  width: 31px;
  height: 33px;
  margin-right: 7px;
  fill: var(--main-color);
}

#text {
  margin: 0;
  font-size: 28px;
}

#author {
  align-self: flex-end;
  margin: 20px 0 30px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#twitter-logo {
  width: 19px;
  height: 19px;
  padding: 10px;
  border-radius: 2px;
  background-color: var(--main-color);
  margin-right: 5px;
}

#new-quote {
  width: 105px;
  height: 39px;
  font-size: 15px;
  border: 0;
  border-radius: 2px;
  color: var(--white);
  background-color: var(--main-color);
}

#credits {
  font-size: 13px;
  color: var(--white);
}

#credits a {
  color: var(--white);
}